/* CSS files add styling rules to your content */

body {
  background: black;
  font-family: "itc-american-typewriter", cursive;
  font-weight: 900;
  font-style: normal;
  margin: 0;
  color: rgb(0, 255, 0);
}

header {
  background: black;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10vh 10vw 5vh 10vw;
}

#title {
  font-size: 2em;
}

#content {
  margin: 17vh 10vw;
  max-width: 80vw;
}

#details {
  font-size: 0.8em;
  font-weight: 400;
}

.highlight {
  color: rgb(255, 0, 0);
}

p,
h2 {
  color: black;
  padding: 1% 0;
  margin: 0 0;
  font-size: 0.8em;
  text-align: center;
  line-height: 1.5em;
}

/*Int the footer(hover), maybe you can try to use the transition-duration.*/

/*Maybe try 0.2 instead of 0.3.*/

footer {
  font-family: "itc-american-typewriter", cursive;
  font-weight: 500;
  font-style: normal;
  background-color: rgba(200, 200, 200, 0.3);
  padding: 2% 8%;
  position: fixed;
  bottom: 0;
}

footer:hover {
  background: rgba(255, 255, 255, 0.85);
}

#about {
  padding-bottom: 0;
  font-weight: 800;
  text-align: center;
  font-size: 1em;
}

#project_des {
  text-align: left;
}

a {
  text-decoration:underline;
  color:black;
}
